
<!DOCTYPE html>
<html lang="">
<head>
    <title>WebSocket Chat</title>
</head>
<body>
<h1>WebSocket Chat</h1>
<div id="chat"></div>
<input type="text" id="message" placeholder="Type your message">
<button onclick="sendMessage()">Send</button>
<button onclick="closeConnection()">Disconnect</button>
<script>
    let username = prompt("Enter your username:");
    let room_name = prompt("Enter your room_name:");

    const socket = new WebSocket(`ws://127.0.0.1:8000/api/v1/chat/ws/${room_name}/${username}`);
    socket.onmessage = event => {
        const chatDiv = document.getElementById("chat");
        const messageData = JSON.parse(event.data);
        const messageDiv = document.createElement("div");
        messageDiv.textContent = `${messageData.author}: ${messageData.message}`;
        chatDiv.appendChild(messageDiv);
    };

    function sendMessage() {
        const input = document.getElementById("message");
        const message = input.value;
        const messageData = {
            author: username,
            message: message
        };
        socket.send(JSON.stringify(messageData));
        input.value = "";
    }

    function closeConnection() {
        socket.close();
        console.log("WebSocket connection closed");
    }
</script>
</body>
</html>
